{% extends 'accounts/base.html' %}
{% block content %}


{% for post in posts %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {% if post.image %}
      <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="...">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bizname: {{ post.businessname }}</h5>
        <h5 class="card-title">Email Address: {{ post.email }}</h5>
        <p class="card-text">created at:{{post.created_date}}</p>
      </div>
    </div>

    

  
              



  </div>
</div>
<a href="{% url 'bizz'%}"><button class="button is-info"  style="text-transform: capitalize; font-style: italic;">add business</button></a>

{% endfor %}






{% endblock%}