{% extends 'accounts/base.html' %}
{% block content %}


<div class="container" style="padding-top:1.4rem">
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-footer">
      Card footer
    </div>
  </div>
</div>

{% for post in posts %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.Name }}</h5>
        <h5 class="card-title">Location: {{ post.location }}</h5>
        <p class="card-text">{{post.Count}}</p>
        <p class="card-text"><small class="text-muted">Posted by: {{post.author}}</small></p>
      </div>
    </div>
  </div>
</div>


{% endfor %}






{% endblock%}