{% extends 'accounts/base.html' %}
{% block content %}





{% for post in posts %}
<div class="container">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <a href="{% url 'photo' post.id%}"><h5 class="card-title">{{ post.Name }}</h5></a>
          <p class="subtitle">Location: {{ post.location }}</p>
          <p class="card-text">population :{{post.population}}</p>
          <p class="card-text">Health contact :{{ post.healthno }}</p>
          <p class="card-text">Police contact :{{ post.policeno }}</p>
        </article>
        {% if post.image %}
        <figure class="image is-4by3">
          <img src="{{post.image.url}}">
        </figure>
        {% endif %}
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">{{ post.Name }}</p>
          <p class="subtitle">{{ post.location }}</p>
          {% if post.image %}
          <figure class="image is-4by3">
            <img src="{{post.image.url}}">
          </figure>
        {% endif %}
        </article>
      </div>
    </div>
    
  </div>
  
</div>


</div>
{% endfor %}

{% endblock%}