{% extends 'accounts/base.html' %}
{% block content %}


<section class="section">
  <div class="container">
      <div class="columns is-mobile is-centered">
          <div class="column">


<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{photo.image.url}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <h5 class="card-title">{{ photo.Name }}</h5>
    <h5 class="card-title">Location: {{ photo.location }}</h5>
    <p class="card-text">{{object.Count}}</p>
    

  </div>
</div>




</div>
      </div>
  </div>
</section>




{% endblock%}